
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-height: 100vh;
  padding: 50px 0;
  width: 100%;
}

body {
  background-color: #1E1E24;
  color: #DCE5E1;
  font-family: 'Poppins', sans-serif;
}